<!-- <div class="nav-header" style="background-color:white;position:fixed"></div>
  <div class="header" style="position:fixed; width:100%; ">
    <div class="header-content clearfix">
      <a href="/Home"><img style="text-align:center;margin-left:35%;width:250px"
          src="../assets/images/Instagram.png"></a>
    </div>
  </div> -->

<div>
  <app-header></app-header>
  <div class="content-body" style="background-color: #fafafa;">
    <div class="row">
      <div class="col-md-4"></div>
      <div class="col-md-4">

        <app-storys></app-storys>
        <app-posts></app-posts>

      </div>
      <div class="col-md-2" style="margin-top:25px">
        <app-follow></app-follow>
      </div>
      <div class="col-md-2"></div>
    </div>
  </div>
</div>