<app-header></app-header>

<div class="content-body" style="background-color: #fafafa;">
    <div class="row">
        <div class="col-md-2"></div>
        <div class="col-md-5 container-fluid">
            <div class="card" style='margin-top: 25px'>
                <div class="card-body">
                    <div class='media media-reply' style="align-items: center;">
                        <img [routerLink]="['/Profile', postDetail.userId]" class="mr-3 circle-rounded"
                            style="border: 1px solid #000000;cursor: pointer;" width="70px" height="70px"
                            src="{{postDetail.userImage}}">
                        <div class="d-sm-flex justify-content-between mb-2" style="font-size: 15px">
                            <h4 [routerLink]="['/Profile', postDetail.userId]" style="cursor: pointer">
                                {{postDetail.userName}}</h4>
                            <small class='text-muted ml-2'> | &thinsp; {{postDetail.createdDateAgo}}
                            </small>
                        </div>
                    </div>

                    <div *ngIf="postDetail.images.endsWith('.jpg')">
                        <img src="{{postDetail.images}}" style="border: 1px solid #000000;margin-left:20px;" width="95%"
                            height="95%">
                    </div>

                    <div *ngIf="postDetail.images.endsWith('.mp4')">
                        <video style="border: 1px solid #000000; margin-left: 20px; max-height: 1000px;" height="auto"
                            width="100%" controls autoplay>
                            <source src="{{postDetail.images}}" type="video/mp4">
                        </video>
                    </div>

                    <button style="margin-top:15px; margin-left:20px"
                        [ngStyle]="postDetail.existUserLike  ? {'color': 'red'} : {'color': 'black'}"
                        (click)="postLike(postDetail.id,isLogin.id,postDetail.userId)" type="button"
                        class="btn btn-rounded"><i class="fa fa-heart"></i></button>
                    <button style="margin-top:15px; margin-left:10px;" type="button" class="btn btn-rounded"><i
                            class="fa fa-comment"></i></button>
                    <button style="margin-top:15px; margin-right:25px; float:right;" type="button"
                        class="btn btn-rounded" [ngStyle]="postDetail.existSaved ? {'color': 'red'} : {'color': 'gray'}"
                        (click)="savePost(postDetail.id)">
                        <i class="fa fa-bookmark"></i></button>
                    <div style="margin-top:10px; margin-left:25px;">
                        <h5>{{postDetail.likeCount}} beğenme</h5>
                        <p style="font-family: revert; font-size: 19px;color: black;">{{postDetail.description}}</p>
                        <p>{{postDetail.commentCount}} yorum</p>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-md-3 container-fluid">
            <div class="card" style='margin-top: 25px'>
                <div class="card-body" *ngIf="isLogin != null">
                    <div class="d-flex">
                        <img [routerLink]="['/Profile', isLogin.id]" class="mr-3 circle-rounded"
                            style="border:1px solid #000000" src="{{isLogin.image}}" width="70" height="70">
                        <textarea cols="3" rows="3" maxlength="50" placeholder="Yorum ekle..." #comment
                            class="form-control"></textarea>
                        <input type="hidden" value="0" #commentIdValue>
                        <input style="margin-left:10px;" type="submit" value="Yorum Yap" class="btn btn-dribbble"
                            (click)="uploadComment(postDetail.id,isLogin.id,comment.value,commentIdValue.value)" />
                    </div>
                    <!-- </div>
                <div class="card-body"> -->
                    <!-- <app-post-comments></app-post-comments> -->
                    <div style="margin-top: 50px;height: 950px; overflow: auto;">
                        <div *ngFor="let comments of postCommets">
                            <div class='media media-reply'>
                                <img [routerLink]="['/Profile', comments.userId]"
                                    style="cursor: pointer;border: 1px solid #000000" class='mr-3 circle-rounded'
                                    src="{{comments.userImage}}" width='50' height="50">
                                <div>
                                    <div class='d-sm-flex'>
                                        <!-- {{ comments.createdDate | date:"dd/MM/yyyy"}} -->
                                        <h6>{{ comments.userName}}<small class='text-muted ml-2'>
                                                {{comments.createdDateAgo}}</small></h6>
                                        <p class='text-muted ml-3' style="cursor: pointer;"
                                            (click)="comment.placeholder= '@' + comments.userName + ' ' +  'kullanıcısına yanıt olarak' "
                                            (click)="commentIdValue.value=comments.id">
                                            Yanıtla</p>
                                        <p *ngIf="isLogin.id == comments.userId"
                                            (click)="deletePostComment(comments.id)" class="ml-2"
                                            style='color:red;cursor: pointer;'>
                                            <i class="icon-trash"></i>
                                        </p>
                                    </div>
                                    <h4>{{comments.comment}}</h4>
                                </div>
                            </div>
                            <!-- SUB COMMENTS -->
                            <div style="margin-left: 60px;" *ngFor="let subComment of comments.subComment">
                                <div class='media media-reply'>
                                    <img [routerLink]="['/Profile', subComment.userId]" style="cursor: pointer;"
                                        class='mr-3 circle-rounded' src="{{subComment.userImage}}" width='40'
                                        height='40'>
                                    <div>
                                        <div class='d-sm-flex justify-content-between mb-2'>
                                            <h6 class='mb-sm-0'>{{ subComment.userName}}<small class='text-muted ml-2'>
                                                    {{subComment.createdDateAgo}}</small></h6>
                                            <p *ngIf="isLogin.id == subComment.userId"
                                                (click)="deletePostComment(subComment.id)" class="ml-2"
                                                style='color:red;cursor: pointer;'>
                                                <i class="icon-trash"></i>
                                            </p>
                                        </div>
                                        <h4>@<small>{{comments.userName}}</small> {{subComment.comment}}</h4>
                                    </div>
                                </div>
                            </div>

                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-md-2"></div>
    </div>
</div>