<div class="nav-header" style="background-color:white;position:fixed"></div>
<div class="header" style="position:fixed; width:100%; ">
    <div class="header-content clearfix">
        <a href="/Home"><img style="text-align:center;margin-left:35%;width:250px"
                src="../assets/images/Instagram.png"></a>
    </div>
</div>
<div class="content-body">
    <div class="row">
        <div class="col-md-4"></div>
        <div class="col-md-4">
            <div class="card" style="margin-top:100px">
                <div class="card-body">
                    <div class="slimScrollDiv" *ngFor="let users of userList">
                        <div class="media border-bottom-1 pt-3 pb-3" style="cursor: pointer;"
                            [routerLink]="['/Profile', users.id]">
                            <img class="mr-3 rounded-circle" style="border:1px solid #000000" width="65" height="65"
                                src="{{users.images}}">
                            <div class="media-body" style="cursor: pointer;" [routerLink]="['/Profile', users.id]">
                                <h4>{{users.name}}</h4>
                                <h6 class="mb-0">{{users.about}}</h6>
                            </div>
                            <!-- <a href="/Home/UserProfile/?Id=@item.Id">
                                 <input style="margin-top: 10px; border-radius: 20px" type="submit" value="Takip Et"
                                 class="btn btn-twitter" />
                            </a> -->
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-md-4"></div>
    </div>
</div>